@{
  Layout = "_Layout";
}

<h1>All Gear Results:</h1>

<ol>
@foreach (GearResult gearResult in Model)
{
    <ul>
        <!-- <li>ID: @gearResult.GearResultId</li>
        <li>Family: @gearResult.Family</li> -->
        <a href="/GearResults/Details/@(gearResult.GearResultId)"><li>@gearResult.Brand @gearResult.Model</li></a>
        <!-- <li>Model: @gearResult.Model</li> -->
        <!-- <li>Price: @gearResult.Price</li> -->
    </ul>
    <!-- <a href="/GearResults/Details/@(gearResult.GearResultId)"><p>View Details</p></a> -->
    <br>
}
</ol>