@{
  Layout = "_Layout";
}

@model HikingGear.Models.Gear
<div class="viewContainer row">
  <h2>Add a gear category</h2>
  <hr />
  <div class="col-md-6">
    <h4>Select additional category for: @Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Name) </h4>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.GearId)

      <span class="labelSpan">@Html.Label("Select category")</span>
      @Html.DropDownList("CategoryId")

      <input type="submit" value="Save" class="homeLink"/>
    }
  </div>
  
  <div class="col-md-6">
    <button class="button-30">@Html.ActionLink("Back to list", "Index")</button >
  </div>
</div>