@{
  Layout = "_Layout";
}

@model HikingGear.Models.Gear

<div class="viewContainer">
  <h3>Add a new piece of gear</h3>

  <div class="createGearForm">
    @using (Html.BeginForm())
    {
        <div class="formRow">
          <span class="labelSpan">@Html.LabelFor(model => model.Brand)</span>
          <span class="inputSpan">@Html.TextBoxFor(model => model.Brand, new { @required = "required"})</span>
        </div>
        <div class="formRow">
          <span class="labelSpan">@Html.LabelFor(model => model.Name)</span>
          <span class="inputSpan">@Html.TextBoxFor(model => model.Name, new { @required = "required"})</span>
        </div>
        <div class="formRow">
          <span class="labelSpan">@Html.LabelFor(model => model.Description)</span>
          <span class="inputSpan">@Html.TextBoxFor(model => model.Description, new { @required = "required"})</span>
        </div>
        <div class="formRow">
          <span class="labelSpan">@Html.LabelFor(model => model.PurchaseYear)</span>
          <span class="inputSpan">@Html.TextBoxFor(model => model.PurchaseYear, new { @required = "required"})</span>
        </div>
        <div class="formRow">
          <span class="labelSpan">@Html.Label("Select category")</span>
          <span class="inputSpan">@Html.DropDownList("CategoryId")</span>
        </div>

        <input type="submit" value="Add new gear" id="addNewGear" />
    }
  </div>

  <div class="linksContainer">
    <p>@Html.ActionLink("Show all gear", "Index")</p>
  </div>
</div>