@{
  Layout = "_Layout";
}

@model HikingGear.Models.Gear

<div class="viewContainer">
  <h2>Gear Details</h2>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h4>@Html.DisplayNameFor(model => model.Brand):<span class="gearDetail"> @Html.DisplayFor(model => model.Brand)</span></h4>
      <h4>@Html.DisplayNameFor(model => model.Name):<span class="gearDetail"> @Html.DisplayFor(model => model.Name)</span></h4>
      <h4>@Html.DisplayNameFor(model => model.PurchaseYear):<span class="gearDetail"> @Html.DisplayFor(model => model.PurchaseYear)</span></h4>
      <h4>@Html.DisplayNameFor(model => model.Description):<span class="gearDetail"> @Html.DisplayFor(model => model.Description)</span></h4>

      @if(@Model.JoinEntities.Count == 0)
      {
        <p>This gear does not belong to any categories</p>
      }
      else
      {
        <h4>Categories the gear belongs to:</h4>
        <ul>
        @foreach(var join in Model.JoinEntities)
        {
          <li class="viewList">@join.Category.Name</li>
          @using (Html.BeginForm("DeleteCategory", "Gears"))
          {
            @Html.Hidden("joinId", @join.CategoryGearId)
            <input type="submit" value="Delete" class="button-30"/>
          }
        }
        </ul>
      }
    </div>

    <div class="col-md-4">
      <button class="button-30">@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.GearId })</button>
      <button class="button-30">@Html.ActionLink("Edit Gear", "Edit", new { id = Model.GearId })</button>
      <button class="button-30">@Html.ActionLink("Delete Gear", "Delete", new { id = Model.GearId })</button>
    </div>
  </div>
</div>