@{
  Layout = "_Layout";
}

@model HikingGear.Models.Gear

<div class="viewContainer row">
  <h2>Edit @Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Name)</h2>
  <hr />
    @using (Html.BeginForm())
    {
    <div class="col-md-6">
      @Html.HiddenFor(model => model.GearId)

      <span class="labelSpan">@Html.LabelFor(model => model.Brand)</span>
      @Html.EditorFor(model => model.Brand)

      <span class="labelSpan">@Html.LabelFor(model => model.Name)</span>
      @Html.EditorFor(model => model.Name)

      <span class="labelSpan">@Html.LabelFor(model => model.Description)</span>
      @Html.TextBoxFor(model => model.Description)

      <span class="labelSpan">@Html.LabelFor(model => model.PurchaseYear)</span>
      @Html.TextBoxFor(model => model.PurchaseYear)

      <span class="labelSpan">@Html.Label("Select category")</span>
      @Html.DropDownList("CategoryId", null, "No Category")
    </div>
      <input type="submit" value="Save" class="homeLink"/>
  }
      <div class="col-md-4">
        <button class="button-30">@Html.ActionLink("Back to list", "Index")</button>
      </div>
</div>