@{
  Layout = "_Layout";
}

@model HikingGear.Models.Category;

<div class="viewContainer">
  <h2>@Html.DisplayFor(model => model.Name)</h2>
  <hr />

  <div class="row">
    @if(@Model.JoinEntities.Count == 0)
    {
      <p>This category does not contain any pieces of gear</p>
    }
    else
      {
      
        <div class="col-md-6">
          <ul>
          @foreach(var join in Model.JoinEntities)
          {
            <li class="viewList">@Html.ActionLink($"{join.Gear.Name}" , "Details", "Gears", new { id = join.GearId})</li>
          }
          </ul>
        </div>
      }

      <div class="col-md-4">
        <button class="button-30">@Html.ActionLink("Add new gear", "Create", "Gears")</button >
        <button class="button-30">@Html.ActionLink("Back to gear categories", "Index")</button >
        <button class="button-30">@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</button >
        <button class="button-30">@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</button >
      </div>
  </div>
</div>
