@{
  Layout = "_Layout";
}

@model HikingGear.Models.Category

<div class="viewContainer row">
  <h2>Edit @Html.DisplayFor(model => model.Name)</h2>

  <!-- <h4>Edit this category: @Html.DisplayFor(model => model.Name)</h4> -->
  <div class="col-md-8"
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.CategoryId)

      <span class="labelSpan">@Html.LabelFor(model => model.Name)</span>
      @Html.EditorFor(model => model.Name)

      <input type="submit" value="Save" class="homeLink"/>
    }
  <div>
  <div class="col-md-4">
    <button class="button-30">@Html.ActionLink("Back to category list", "Index")</button>
  </div>
</div>